.posts {
  width: 100%;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;

  .post-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid gainsboro;

    cursor: pointer;

    &:hover {
      background-color: rgb(209, 209, 209);
    }

    .title {
      height: 50px;
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
    }

    .body {
      height: 50px;
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
    }
  }
}